doctype html
html
  head
    meta(charset='utf-8')
    title How to Link Your Laptop to Conference Room TV
    link(rel='stylesheet', href='css/master.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/tipuesearch_content.js")
    script(src="js/tipuesearch_set.js")
    script(src="js/tipuesearch.min.js")
   
  body
    include includes/header
    main.l-content
      .l-main-content
        .article#2
            img.article--img
            .article--description
              p.article--date
              h2.article--title
              p.article--copy
              include includes/article-controls
      include includes/sidebar
    include includes/footer
    //script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="js/app.js")
    script(src="js/database-articles.js")
    script(src="js/tabletop.js")
            
    
        
        
