.article-controls.uppercase
  .article-controls--controller
    a.prev(href="#"): img.article-controls--arrows(src="images/prev-arrows.png")
    .article-controls--prev
      p.article-controls--title Previous
      a.article-controls--link(href="#")
  .article-controls--controller
    .article-controls--next
      p.article-controls--title Next
      a.article-controls--link(href="#")
    a.next(href="#"): img.article-controls--arrows(src="images/next-arrows.png")
