footer.l-footer
  .disclaimer.text-center
    p.disclaimer--copyright © 2017 Webdev Resources
    p.disclaimer--authors Managed by <span class="primary-highlight">Amy Ling</span> and <span class="primary-highlight">Jerald Johnson</span>
    .disclaimer--logos
      img(src="images/github-logo.png")
      img(src="images/google-logo.png")
