.mobile-overlay
  nav.mobile-menu
    a.nav--menu-item(href='index.html') Home 
    a.nav--menu-item(href='search.html?q=css') CSS 
    a.nav--menu-item(href='#') HTML
    a.nav--menu-item(href='#') JS
    a.nav--menu-item(href='#') Email
    a.nav--menu-item(href='#') Mobile
    a.nav--menu-item(href='#') Google
    a.nav--menu-item(href='#') Seo
    a.nav--menu-item(href='#') UX Design
    a.nav--menu-item(href='#') Magneto
    a.nav--menu-item(href='#') Wordpress
header.l-homepage-header
  .flex-center-column.full-width
    img.l-homepage-header--logo(src='images/jam-logo.png')
    nav.mobile-icon
      span
    nav.nav.uppercase.strong
      a.nav--menu-item(href='index.html') Home 
      a.nav--menu-item(href='search.html?q=css') CSS 
      a.nav--menu-item(href='#') HTML
      a.nav--menu-item(href='#') JS
      a.nav--menu-item(href='#') Email
      a.nav--menu-item(href='#') Mobile
      a.nav--menu-item(href='#') Google
      a.nav--menu-item(href='#') Seo
      a.nav--menu-item(href='#') UX Design
      a.nav--menu-item(href='#') Magneto
      a.nav--menu-item(href='#') Wordpress
    form.text-center(action="search.html")
      input.search(type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required)
