.mobile-overlay
  nav.mobile-menu
    a.nav--menu-item(href='index.html') Home 
    a.nav--menu-item(href='search.html?q=css') CSS 
    a.nav--menu-item(href='search.html?q=html') HTML
    a.nav--menu-item(href='search.html?q=javascript') JS
    a.nav--menu-item(href='search.html?q=email') Email
    a.nav--menu-item(href='search.html?q=mobile') Mobile
    a.nav--menu-item(href='search.html?q=google') Google
    a.nav--menu-item(href='search.html?q=seo') Seo
    a.nav--menu-item(href='search.html?q=ux') UX Design
    a.nav--menu-item(href='search.html?q=magneto') Magneto
    a.nav--menu-item(href='search.html?q=wordpress') Wordpress
    a.nav--menu-item(href='search.html?q=misc') Misc
header.l-homepage-header
  .flex-center-column.full-width
    img.l-homepage-header--logo(src='images/jam-logo.png')
    nav.mobile-icon
      span
    nav.nav.uppercase.strong
      a.nav--menu-item(href='index.html') Home 
      a.nav--menu-item(href='search.html?q=css') CSS 
      a.nav--menu-item(href='search.html?q=html') HTML
      a.nav--menu-item(href='search.html?q=javascript') JS
      a.nav--menu-item(href='search.html?q=email') Email
      a.nav--menu-item(href='search.html?q=mobile') Mobile
      a.nav--menu-item(href='search.html?q=google') Google
      a.nav--menu-item(href='search.html?q=seo') Seo
      a.nav--menu-item(href='search.html?q=ux') UX Design
      a.nav--menu-item(href='search.html?q=magneto') Magneto
      a.nav--menu-item(href='search.html?q=wordpress') Wordpress
      a.nav--menu-item(href='search.html?q=misc') Misc
    form.text-center(action="search.html")
      input.search(type="text" name="q" id="tipue_search_input" pattern=".{2,}" title="At least 2 characters" required)
