.l-sidebar-content
  h2.sidebar--title.uppercase Quick Links
  a.sidebar--link(href="https://codex.wordpress.org/Conditional_Tags" target="_blank") How to Setup Conditional Tags in Wordpress
  .sidebar--border-line 
  a.sidebar--link(href="https://css-tricks.com/attribute-selectors/" target="_blank") The Skinny on CSS Attribute Selectors
  .sidebar--border-line 
